<head>
   
</head>
    <body>
    @using MVC.Domain.Models;
    @using MVC.Domain.SupClass;
    @model List<MVC.Domain.Models.User>

    @{
        string[] sw;
        string[] friendrequestArray;
        var user = new MVC.Domain.Models.User();
    }
    <style>
        body {
            background-color: #081b29;
        }

        .friends {
            display: block;
        
        }

        .friendRequests{
            border: dashed;
            color: white;
            border-width:15px;
            width:150px;
        }
    </style>
    <header class="topbuttons">
        <form method="post">
            <button class="logoutButton" asp-controller="Home" asp-action="LogOut">LogOut</button>
            <button class="getbacktoChoosingserver" asp-controller="Home" asp-action="GetBackToChoosingServer">Change Server</button>
        </form>
    </header>
    <form method="post">
        <div>
            <input name="friendName" type="text" class="friendName" />
            @*<input name="friendId" type="text" class="friendId" value="@AppMain.User.Id"/>*@
            <button type="submit" class="btnaddFriend" value="friendName" asp-controller="Home" asp-action="SendFriendRequest">AddFriend</button>
        </div>
    </form>
    <form method="post">
        <div class="friends">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    sw = item.Friends.Split(',');
                    for (int i = 0; i < sw.Count(); i++)
                    {
                        user.Friends = sw[i];
                        <button name="friendName"
                                type="submit"
                                class="btn btn-danger"
                                value="@user.Friends"
                                asp-controller="Home"
                                asp-action="">
                            @user.Friends
                        </button>
                    }
                }
            }
        </div>
        <div class="friendRequests">
            @if(Model!=null)
            {
                foreach (var item in Model)
                {
                    friendrequestArray = item.FriendRequests.Split(',');
                    for (int i = 0; i < friendrequestArray.Count(); i++)
                    {
                        user.FriendRequests = friendrequestArray[i];
                        @if (user.FriendRequests.Trim() != "".Trim())
                        {
                            <div>
                                <p class="userName">@user.FriendRequests</p>
                                <button class="acceptButton" type="submit" name="friendName" value="@user.FriendRequests" asp-controller="Home" asp-action="AcceptFriendRequest">Accept</button>
                                <button class="declineButton" type="submit" name="friendName" value="@user.FriendRequests" asp-controller="Home" asp-action="DeclineFriendRequest">Refuse</button>
                            </div>
                        }
                        
                    }
                }
            }
        </div>
    </form>

    </body>