<body>
    @using MVC.Domain.Models;
    @using MVC.Domain.SupClass;
    @using MVC.Service.Helpers;
    @using Newtonsoft.Json;
    @model List<MVC.Domain.Models.User>

    @{
        string[] sw;
        string[] friendrequestArray;
        int[] friendrequestIdArray;
        var user = new MVC.Domain.Models.User();
    }
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="userPanel">
<p class="userNotif">@MVC.Domain.SupClass.AppMain.User.Username</p>
</div>
    <style>
        body {
            background-color: #081b29;
        }
.userPanel {
        color: white;
        position: absolute;
          bottom: 0;
          left: 0;
          width: 241px;
          background-color: #232428;
    }
        .friends {
            display: block;
        }

        .friendRequests {
            border: dashed;
            color: white;
            border-width: 15px;
            width: 150px;
        }

        .custom-menu {
            position: absolute;
            background-color: white;
            border: 1px solid black;
            padding: 5px;
        }

        .optionButtons{
            background-color: #081b29;
            border: 1px solid green; /* Green border */
            color: white; /* White text */
            cursor: pointer; /* Pointer/hand icon */
            float: left; /* Float the buttons side by side */
        }
    </style>
    <header class="topbuttons">
        <form method="post">
            <button class="logoutButton" asp-controller="Home" asp-action="LogOut"><i class='bx bx-log-out'></i></button>
            <button class="getbacktoChoosingserver" asp-controller="Home" asp-action="GetBackToChoosingServer">Change Server</button>
        </form>
    </header>
    <form method="post">
        <div>
            <input name="friendName" type="text" class="friendName" />
            <button type="submit" class="btnaddFriend" value="friendName" asp-controller="Home" asp-action="SendFriendRequest"><i class='bx bx-user-plus'></i></button>
        </div>
    </form>
    <form method="post">
        <div class="friends">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    sw = item.Friends.Split(',');
                    for (int i = 0; i < sw.Count(); i++)
                    {
                        user.Friends = sw[i];
                        <div class="button-group">
                            <button class="optionButtons" name="friendName" type="submit" value="@user.Friends" asp-controller="Home" asp-action="RemoveFromFriendList">Remove From Friendlist</button>
                            <button class="optionButtons" name="friendName" type="submit" value="@user.Friends" asp-controller="Home" asp-action="FriendChatPanel">Message</button>
                            <button class="optionButtons" name="friendName" type="submit" value="@user.Friends" asp-controller="Home" asp-action="BlockUser">Block</button>
                        <button click
                                name="friendName"
                                type="submit"
                                class="friendButton"
                                value="@user.Friends"
                                asp-controller="Home"
                                asp-action="">
                            @user.Friends
                        </button>
                        </div>
                    }
                }
            }
        </div>
        <div class="friendRequests">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    friendrequestArray = item.FriendRequests.Split(',');
                    for (int i = 0; i < friendrequestArray.Count(); i++)
                    {
                        user.FriendRequests = friendrequestArray[i];
                        @if (user.FriendRequests.Trim() != "".Trim())
                        {
                            <div>
                                <p class="userName">@user.FriendRequests</p>
                                <button class="acceptButton" type="submit" name="friendName" value="@user.FriendRequests" asp-controller="Home" asp-action="AcceptFriendRequest">Accept</button>
                                <button class="declineButton" type="submit" name="friendName" value="@user.FriendRequests" asp-controller="Home" asp-action="DeclineFriendRequest">Refuse</button>
                            </div>
                        }

                    }
                }
            }
        </div>
    </form>
    @*<script type="text/javascript">
        var elements = document.getElementsByClassName('friendButton');
        
        for (var i = 0; i < elements.length; i++) {
            elements[i].oncontextmenu = function (event) {
                event.preventDefault();

                var menu = document.createElement('div');
                menu.className = 'custom-menu';

                var ProfileItem=document.createElement('button');
                ProfileItem.innerHTML='Profile';
                ProfileItem.addEventListener('click', function () 
                {
                    console.log('ProfileItem clicked');
                    $.post("/Home/BlockUser", { @user.Friends });
                });
                menu.appendChild(ProfileItem);

                menu.style.position = 'absolute';
                menu.style.left = event.clientX + 'px';
                menu.style.top = event.clientY + 'px';
                document.body.appendChild(menu);
            };
        }
    </script>*@
</body>
