@using MVC.Domain.Models;
@using MVC.Service.Service;
@using Newtonsoft.Json;
@using System.Text;
@model List<Message>
<p>Currently logged in as @MVC.Domain.SupClass.AppMain.User.Username</p>
<p>Currently in the server </p>
 @foreach (var item in Model)
 {
     <div>
         <h8 style="background-color:aqua" id="serverBox">Server: @item.Server</h8>
         <h8 style="background-color:aquamarine" id="channelBox">Channel: @item.Channel</h8>
         <p style="background-color:wheat" id="senderBox">Message By: @item.SenderName</p>
         <p style="background-color:lightgray" id="timeBox">Time: @item.SenderTime</p>
         <p style="background-color:lightblue" id="messageBox">Message: @item.Message1</p>
     </div>
 }


