@using MVC.Domain.Models;
@using MVC.Domain.SupClass;
@using MVC.Service.Service;
@using Newtonsoft.Json;
@using System.Text;
@model IEnumerable<Message>

<p class="userNotif">Currently logged in as @MVC.Domain.SupClass.AppMain.User.Username</p>
<p class="serverNotif">Currently in the server @AppMain.User.Server</p>
@{
    AppMain.Message = new MVC.Domain.Models.Message();
}
<style>
    .userNotif{
        color:white;
        max-width: 100%;
    }
    .serverNotif{
        color:white;
        max-width: 100%;
    }
    div.scroll {
        background-color: #fed9ff;
        width: 1295px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
        background-color: #081b29;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
    }
    body {
        background-color: #081b29;
        max-width: 100%;
    }
    .btnSend{
        background: #081b29;
        color:blanchedalmond;
        border:double;
        border-radius:5px;
        max-width: 100%;
    }
    .msginput{
        width: 1200px;
        height:50px;
        max-width: 100%;
    }

    .HomeButton {
        position: fixed;
        left: 0;
        background-color: lightgray;
        border-radius: 12px;
        top: 5px;
        max-width: 100%;
    }

        .HomeButton:hover {
            background-color: #6e65f3;
            border-radius: 6px;
            max-width: 100%;
        }
</style>
<header class="topbuttons">
    <form method="post">
        <button class="logoutButton" asp-controller="Home" asp-action="LogOut">LogOut</button>
        <button type="submit" class="HomeButton" asp-controller="Home" asp-action="AddFriend">Home</button>
        <button class="getbacktoChoosingserver" asp-controller="Home" asp-action="GetBackToChoosingServer">Change Server</button>
    </form>
</header>
@*set the messages*@
<div class="scroll">
    @foreach (var item in Model)
    {
        <div style="border:thin solid black">
        <h8 style="background-color:aqua" id="serverBox">Server: @item.Server</h8>
        <h8 style="background-color:aquamarine" id="channelBox">Channel: @item.Channel</h8>
        <p style="background-color:lightgray" id="timeBox">Time: @item.SenderTime</p>
        <p style="background-color:wheat" id="senderBox">Message By: @item.SenderName</p>
        <p style="background-color:lightblue" id="messageBox">Message: @item.Message1</p>
        </div>
    }
</div>
@*send message*@
<form method="post">
    <input style="border:thick solid black" name="messageInput" type="text" class="msginput" asp-for="@AppMain.Message.Message1" />
    <button type="submit" class="btnSend" value="messageInput" asp-controller="Home" asp-action="SendMessage">Gonder</button>
</form>

